<h1>Carrito de compras</h1>

{{#if carrito}}
  <ul>
    {{#each carrito.products}}
      <li>Producto: {{this.product.title}}</li>
      <li>Descripción: {{this.product.description}}</li>
      <li>Precio: ${{this.product.price}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos en el carrito</p>
{{/if}}