<h1>Bienvenidos al chat</h1>

<div>
  <input type="text" id="escribirMensajes" placeholder="Escribe un mensaje" />
</div>

<div>
  <p id="mostrarMensajes"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/index.js"></script>